:root{

    --primary:#0A2A66;
    --secondary:#11B5D8;
    --accent:#7AC943;
    --background:#F4F8FB;
    --white:#FFFFFF;
    --text:#2c3e50;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body{

    background:var(--background);

}

/* ================= NAVBAR ================= */

nav{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

}

.logo img{

    width:55px;

}

.logo h2{

    color:var(--primary);

}

.back-btn{

    text-decoration:none;

    color:white;

    background:linear-gradient(90deg,#0A2A66,#11B5D8);

    padding:12px 24px;

    border-radius:30px;

    transition:.3s;

}

.back-btn:hover{

    transform:translateY(-3px);

}
button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:30px;

    background:linear-gradient(90deg,#0A2A66,#11B5D8);

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

/* ================= DOCTOR DETAILS ================= */

.doctor-details{

    padding:60px 8%;

}

.doctor-card{

    background:white;

    border-radius:20px;

    padding:45px;

    display:flex;

    gap:50px;

    align-items:center;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

}

.doctor-image{

    flex:1;

    text-align:center;

}

.doctor-image img{

    width:300px;

    height:300px;

    object-fit:cover;

    border-radius:20px;

    border:6px solid #11B5D8;

}

.doctor-info{

    flex:2;

}

.doctor-info h1{

    color:var(--primary);

    font-size:40px;

    margin-bottom:10px;

}

.doctor-info h3{

    color:#666;

    margin-bottom:10px;

}

.doctor-info h4{

    color:var(--secondary);

    font-size:24px;

    margin-bottom:25px;

}

.doctor-info p{

    font-size:18px;

    margin:15px 0;

    color:#555;

}

#consultationFee{

    color:var(--accent);

    margin:25px 0;

    font-size:34px;

}

.about{

    margin-top:30px;

    padding:20px;

    background:#F8FBFD;

    border-left:6px solid var(--secondary);

    border-radius:10px;

}

.about h3{

    color:var(--primary);

    margin-bottom:10px;

}

.book-btn{

    display:inline-block;

    margin-top:35px;

    background:linear-gradient(90deg,#0A2A66,#11B5D8);

    color:white;

    text-decoration:none;

    padding:16px 38px;

    border-radius:35px;

    transition:.3s;

    font-weight:bold;

}

.book-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 25px rgba(17,181,216,.35);

}

/* ================= MOBILE ================= */

@media(max-width:900px){

.doctor-card{

    flex-direction:column;

    text-align:center;

}

.doctor-image img{

    width:220px;

    height:220px;

}

.doctor-info h1{

    font-size:32px;

}

}