body{

    background:#f4f6f9;
    font-family:Arial;
}

.profile-card{

    width:500px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

h2{

    text-align:center;

    margin-bottom:25px;
}

.profile-item{

    margin-bottom:18px;
}

label{

    display:block;

    margin-bottom:5px;

    font-weight:bold;
}

input{

    width:100%;

    padding:10px;

    border:1px solid #ccc;

    border-radius:5px;
}

button{

    width:100%;

    padding:12px;

    background:#2d89ef;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;
}

button:hover{

    background:#1d6fd1;
}