body{

    margin:0;

    font-family:'Segoe UI',sans-serif;

    background:#F5FCFE;

}

/* Header */

.dashboard-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 7%;

    background:#0A2A66;

    box-shadow:0 8px 20px rgba(10,42,102,.10);

}

.header-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.header-left img{

    width:65px;

    height:65px;

    background:white;

    padding:5px;

    border-radius:6px;

}

.header-left h1{

    color:white;

    margin:0;

    font-size:34px;

}

.dashboard-btn{

    text-decoration:none;

    background:#11B5D8;

    color:white;

    padding:14px 28px;

    border-radius:40px;

    font-weight:600;

    transition:.3s;

}

.dashboard-btn:hover{

    background:white;

    color:#0A2A66;

}

/* Page */

.records{

    width:90%;

    margin:40px auto;

}

.section-title h5{

    color:#11B5D8;

    letter-spacing:3px;

    margin-bottom:8px;

}

.section-title h2{

    color:#0A2A66;

    margin:0;

    font-size:42px;

}

.section-title p{

    color:#666;

    margin-top:10px;

}

/* Card */

.schedule-card{

    margin-top:30px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 8px 20px rgba(10,42,102,.08);

}

.schedule-card h2{

    text-align:center;

    color:#0A2A66;

    margin-bottom:35px;

}

/* Schedule Box */

.schedule-box{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#F8FCFF;

    border-left:6px solid #11B5D8;

    padding:22px 30px;

    border-radius:15px;

    margin-bottom:20px;

}

.schedule-info h3{

    color:#0A2A66;

    margin-bottom:8px;

}

.schedule-info p{

    color:#666;

}

.status{

    background:#DFF6E8;

    color:#12804C;

    padding:8px 18px;

    border-radius:30px;

    font-weight:bold;

}