body{

    background:#f5f8fc;
    font-family:Segoe UI,sans-serif;
    margin:0;

}

.dashboard-header{

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 40px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.header-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.header-left img{

    width:65px;

}

.back-btn{

    background:#0A2A66;

    color:white;

    padding:12px 22px;

    border-radius:8px;

    text-decoration:none;

}

.back-btn:hover{

    background:#11B5D8;

}

.doctor-section{

    width:90%;

    margin:auto;

    margin-top:35px;

}

.section-title{

    text-align:center;

    margin-bottom:40px;

}

.section-title h5{

    color:#11B5D8;

}

.section-title h2{

    color:#0A2A66;

}

.doctor-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.doctor-card{

    background:white;

    border-radius:18px;

    padding:25px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.doctor-card:hover{

    transform:translateY(-8px);

}

.doctor-card img{

    width:120px;

    height:120px;

    border-radius:50%;

    object-fit:cover;

    margin-bottom:15px;

}

.badge{

    background:#EAF7FB;

    color:#0A2A66;

    padding:6px 15px;

    border-radius:30px;

    display:inline-block;

    margin-bottom:15px;

    font-size:14px;

}

.doctor-card p{

    color:#666;

    margin:10px;

}

.fee{

    font-size:18px;

    color:#0A2A66;

}

.book-btn{

    display:inline-block;

    margin-top:18px;

    background:#11B5D8;

    color:white;

    text-decoration:none;

    padding:12px 22px;

    border-radius:8px;

}

.book-btn:hover{

    background:#0A2A66;

}